  .sticky {
      font-size: 23px;
      position: sticky;
      top: 0;
      padding: 1px;
      color: #32c7d1ff;
      background-color: #043868ff;
      border-style: solid;
      border-color: #32c7d1ff;
  }

  td {
      text-align: center;
      border-style: solid;
      border-color: #32c7d1ff;
  }

  a:link {
      color: #32c7d1ff;
      text-decoration: none;
  }

  a:active {
      color: #32c7d1ff;
      text-decoration: none;
  }

  a:visited {
      color: #32c7d1ff;
      text-decoration: none;
  }

  a:hover {
      color: #2aacb5ff;
      text-decoration: none;
  }

  .head {
      color: #043868ff;
      font-size: 45px;
      text-align: center;
      position: sticky;
      top: 40px;
      background-color: #32c7d1ff;
  }

  .para {
      color: #32c7d1ff;
      margin: 10px 150px 35px;
      font-size: 20px;
  }

  .underimg {
      color: gray;
      font-size: 15px;
      text-align: center;
  }

  html {
      scroll-behavior: smooth;
  }

  body {
      --scrollbarBG: #CFD8DC;
      --thumbBG: #90A4AE;

      scrollbar-width: thin;
      scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
